.Lite{
    /* display: inline-block; */
    padding:4px;
    float: right;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-right: -270px;
}
.Lite:hover{
     border: 2px solid rgb(242, 185, 64);
opacity: 0.5;
    filter: alpha(opacity=50);
}