.body {
    background-color:white;
    color: black;
    text-align: left; 
    /* margin-left: 40px; */
}
.main{
	width: 100%;
    margin-left: 10px;
    margin-bottom: 300px;
}
.value {
    text-align: right;
    color: gray;
    margin-right: 40px;
}
table {
    width:98%;
}
th {
background-color:lightgray;
color: gray;
}
table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}
.button4 {
    background-color: white;
    color: black;
    border: 2px solid lightgray;
    border-radius: 4px;
}
.button4:hover {
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
    color: white;
}